NODE_ENV=development
APP_NAME=shopee-service
PORT=3000
API_PREFIX=api
SWAGGER_PATH=docs

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/shopee_service?schema=public

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

POSTGRES_DB=shopee_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

QUEUE_PREFIX=shopee-service
LOG_LEVEL=debug

